<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer) !(bind.Property.ProductName)">
				<Directory Id="CERTSDIR" Name="certs" />
				<Directory Id="SERVICEDIR" Name="service" />
				<Directory Id="UIDIR" Name="ui">
					<Directory Id="DATADIR" Name="data" />
				</Directory>
			</Directory>
		</StandardDirectory>

		<StandardDirectory Id="DesktopFolder" />
	</Fragment>
</Wix>
